<header>
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
  <fieldset>
  <ol>
    <li>
      <%= label_tag :email_or_username %>
      <%= text_field_tag :email_or_username, nil, autofocus: true, size: 40,
                          required: true%>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, size: 40, required: true %>
    </li>
  </ol>

  <%= submit_tag "Sign In" %>
</fieldset>
<% end %>

<p>
  No account yet? <%= link_to 'Sign up!', signup_path %>
</p>
