<header id="content-header">
  <h1><%= pluralize(@users.size, "User" ) %></h1>
</header>

<ul id="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      (<%= user.email %>)
    </li>
  <% end %>
</ul>
