<header id="content-header">
  <h1>Reviews for <%= link_to(@movie.title, @movie) %></h2>
</header>

<ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= profile_image_for(review.user, size: 35) %>
      <span class="review"><%= pluralize(review.stars, 'star') %></span>
      <span class="user">by <%= link_to review.user.name, review.user %></span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>

      <% if current_user_admin? %>
        <%= link_to delete_review_image, [@movie, review],
                    id: "#{dom_id(review)}_delete",
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% end %>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
    </li>
  <% end %>
</ol>
